.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--basic-color);
    text-align: center;
    &>.container  {
        @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;}
        @include desck-top {
        display: flex;
        text-align: left;
    }
    }
}



.footer__logo { 
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--first-tittle-color);
}

.footer__logo__style {
    color: var(--accent-color);
}