.team {
    background: var(--background-team);
    padding-bottom:60px;
    padding-top: 60px;
   
    @include desck-top {
         padding-bottom: 94px;
         padding-top: 94px;
    }
}

.team__tittle {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    color: var(--second-tittle-color);
    @include desck-top {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 50px;
    }
}

.team-list {
   
    
    @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    }
    
    @include desck-top {
        
    }
}
.team-list__item{
    margin-bottom: 30px;
    background-color: var(--first-tittle-color);
    max-width: 450px;
    min-height: 368px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
        @include tablet {
            width: calc(100% / 2 - 30px);
            margin-right: 30px;
            max-width: 354px;
           
        }
        @include desck-top {
        width: calc(100% / 4 - 30px);
        margin-bottom: 0;
        max-width: 270px;
        }
}

 
.team-name {
    padding-top: 30px;
    padding-bottom: 24px;
    @include tablet {
      
    }
    
    @include desck-top { 
        padding-bottom: 30px;
    }
}

.team-name__tittle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--second-tittle-color);
}

.team-name__sub-text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}